.popup__comments-container{
    max-height: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 580px;
    min-height: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom:20px;
}