@import url(./__section/profile__section.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__intro/profile__intro.css);
@import url(./__button/profile__button.css);

.profile {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
  }
}
