.popup__button {
  background-image: url(../../../images/Close\ Icon.svg);
  border: none;
  box-shadow: none;
  min-height: 40.7px;
  max-width: 40.7px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-color: transparent;
  align-self: flex-end;
  margin-right: -40px;
  margin-top: -40px;
}
.popup__button:hover {
  opacity: 0.6;
  transition: ease-in-out 0.3s;
}
@media screen and (max-width:385px){
  .popup__button{
  margin-right: 0;
  }
}