@import url(./__list/elements__list.css);
@import url(./__item/elements__item.css);
@import url(./__text/elements__text.css);
@import url(./__text-title/elements__text-title.css);
@import url(./__text-like/elements__text-like.css);
@import url(./__item-img/elements__item-img.css);

.elements {
  padding-top: 51px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 425px) {
  .elements {
    padding-top: 36px;
  }
}