.elements__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  max-width: 246px;
  max-height: 23px;
  overflow: hidden;
  padding: 25px 15px 31px 21px;
}
