@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./interregular.woff2") format("woff2"),
    url("./interregular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./intermedium.woff2") format("woff2"),
       url("./intermedium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("./interblack.woff2") format("woff2"),
    url("./interblack.woff") format("woff");
}
