@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__edit-button/intro__edit-button.css);
.intro {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

