.popup__comments{
  min-height: 27.26px;
  border: 1px solid;
  border-radius: 10px;
  border-color:rgba(255, 255, 255, 0.1);
  margin: 30px;
  margin-top:15px;
  color: rgb(255, 255, 255);
  padding:0;
  list-style: none;
}
@media screen and (max-width:513px){
  .popup__comments{
    max-width: 260px;
  }
}
@media screen and (max-width:430px){
  .popup__comments{
    max-width: 230px;
    margin: 0 15px 25px;
  }
}

