.popup__submit_comment{
    max-width: 150px;
    margin: 0;
    min-height: 35px;
    margin-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 7px;
}
.popup__submit_comment:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    transition: ease-in-out 0.5s;
}